In [3]:
import pandas as pd
import numpy as np

## Расположите элементы списка в правильном порядке

```python3
df.mean(axis=0)

df.apply('mean')

df.apply(np.mean)

df.describe().loc['mean']
```

In [2]:
df = pd.read_csv('iris.csv')

df

     Unnamed: 0  sepal length  sepal width  petal length  petal width  species
0             0           5.1          3.5           1.4          0.2        0
1             1           4.9          3.0           1.4          0.2        0
2             2           4.7          3.2           1.3          0.2        0
3             3           4.6          3.1           1.5          0.2        0
4             4           5.0          3.6           1.4          0.2        0
..          ...           ...          ...           ...          ...      ...
145         145           6.7          3.0           5.2          2.3        2
146         146           6.3          2.5           5.0          1.9        2
147         147           6.5          3.0           5.2          2.0        2
148         148           6.2          3.4           5.4          2.3        2
149         149           5.9          3.0           5.1          1.8        2

[150 rows x 6 columns]

In [4]:
%time df.apply(np.mean)

CPU times: user 2.97 ms, sys: 1.2 ms, total: 4.17 ms
Wall time: 3.65 ms

Unnamed: 0      74.500000
sepal length     5.843333
sepal width      3.054000
petal length     3.758667
petal width      1.198667
species          1.000000
dtype: float64

In [5]:
%time df.apply('mean')

CPU times: user 1.58 ms, sys: 38 µs, total: 1.62 ms
Wall time: 1.61 ms

Unnamed: 0      74.500000
sepal length     5.843333
sepal width      3.054000
petal length     3.758667
petal width      1.198667
species          1.000000
dtype: float64

In [6]:
%time df.describe().loc['mean']

CPU times: user 16.3 ms, sys: 1.87 ms, total: 18.1 ms
Wall time: 16.5 ms

Unnamed: 0      74.500000
sepal length     5.843333
sepal width      3.054000
petal length     3.758667
petal width      1.198667
species          1.000000
Name: mean, dtype: float64

In [7]:
%time df.mean(axis=0)

CPU times: user 1.44 ms, sys: 21 µs, total: 1.46 ms
Wall time: 1.45 ms

Unnamed: 0      74.500000
sepal length     5.843333
sepal width      3.054000
petal length     3.758667
petal width      1.198667
species          1.000000
dtype: float64

## Сопоставьте значения из двух списков

- **df.index.year** - Извлечь из дат года
- **x.index.month_name()** - Извлечь из дат названия месяцев
- **np.mean(x.index.dayofyear)** - Получить номер среднего дня в году
- **x.index.day.value_counts()** - Число дней каждого из чисел месяца