In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [317]:
df = pd.read_csv('weatherHistory.csv')
df = df.drop(labels=['Formatted Date'], axis=1)

df = df.rename(
    columns={
        'Precip Type': 'precip_type',
        'Summary': 'summary',
        'Daily Summary': 'daily_summary',
        'Temperature (C)': 'temperature',
        'Apparent Temperature (C)': 'apparent_temperature'
    }
)

# конвертируем все признаки в числа
summaries = list(df['summary'].unique())
df['summary'] = df['summary'].apply(lambda x: summaries.index(x))

precip_types = list(df['precip_type'].unique())
df['precip_type'] = df['precip_type'].apply(lambda x: precip_types.index(x))

daily_summaries = list(df['daily_summary'].unique())
df['daily_summary'] = df['daily_summary'].apply(lambda x: daily_summaries.index(x))

# prepared_df = df.query('temperature > 0 & temperature < 20').head(500)
prepared_df = df.head(500)

prepared_df

,summary,precip_type,temperature,apparent_temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),daily_summary
0,0,0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,0
1,0,0,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,0
2,1,0,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,0
3,0,0,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,0
4,1,0,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,0
...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,21.177778,21.177778,0.43,19.8191,157.0,10.0464,0.0,1009.55,1
496,0,0,21.227778,21.227778,0.41,16.4703,156.0,11.2700,0.0,1009.04,1
497,0,0,20.100000,20.100000,0.45,13.7977,137.0,11.4471,0.0,1008.55,1
498,1,0,19.027778,19.027778,0.51,9.7888,147.0,11.2700,0.0,1008.17,1
499,1,0,17.850000,17.850000,0.59,14.0553,121.0,11.2056,0.0,1008.46,1

In [319]:
features = prepared_df.drop(labels=prepared_df.filter(like='temp').columns, axis=1)
#              .drop(labels=['Summary', 'Precip Type', 'Daily Summary'], axis=1)
features

,summary,precip_type,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),daily_summary
0,0,0,0.89,14.1197,251.0,15.8263,0.0,1015.13,0
1,0,0,0.86,14.2646,259.0,15.8263,0.0,1015.63,0
2,1,0,0.89,3.9284,204.0,14.9569,0.0,1015.94,0
3,0,0,0.83,14.1036,269.0,15.8263,0.0,1016.41,0
4,1,0,0.83,11.0446,259.0,15.8263,0.0,1016.51,0
...,...,...,...,...,...,...,...,...,...
495,0,0,0.43,19.8191,157.0,10.0464,0.0,1009.55,1
496,0,0,0.41,16.4703,156.0,11.2700,0.0,1009.04,1
497,0,0,0.45,13.7977,137.0,11.4471,0.0,1008.55,1
498,1,0,0.51,9.7888,147.0,11.2700,0.0,1008.17,1
499,1,0,0.59,14.0553,121.0,11.2056,0.0,1008.46,1

In [320]:
predicted = prepared_df['apparent_temperature']
predicted

0       7.388889
1       7.227778
2       9.377778
3       5.944444
4       6.977778
         ...
495    21.177778
496    21.227778
497    20.100000
498    19.027778
499    17.850000
Name: apparent_temperature, Length: 500, dtype: float64

In [323]:
X_train, X_test, y_train, y_test = train_test_split(features, predicted, random_state=42)

## LinearRegression

In [77]:
from sklearn.linear_model import LinearRegression

In [324]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [325]:
lr.score(X_train, y_train)

0.6726011975431663

In [326]:
lr.score(X_test, y_test)

0.7174168240468951

In [329]:
test = df.query('temperature < 0').drop(labels=['temperature', 'apparent_temperature'], axis=1).head(500)

## Ridge

In [94]:
from sklearn.linear_model import Ridge

In [331]:
ridge = Ridge(alpha=0.01)
ridge.fit(X_train, y_train)

Ridge(alpha=0.01)

In [332]:
ridge.score(X_train, y_train)

0.6726005502869081

In [333]:
ridge.score(X_test, y_test)

0.7172056179170984